#Summary Statistics for the Smith Dictionaries for Biography and Geography
##(the dictionary of daily life TBD)

In [39]:
import re
import pandas as pd

countables = {}
def datesummary(curdict,moddates,s):
    
    matchs = '<date when-custom="(\-[0-9\-]+|[0-9\-]+)[^>]*>[^<]+'
    while(re.search(matchs,s)):
        

        m = re.search(matchs,s)
        curdate = m[1]
        if(curdate in curdict):
            curdict[curdate] = curdict[curdate] + 1
        else:
            curdict[curdate] =  1            
        s = re.sub(matchs,' ',s,1)
        
    #now look for untagged dates -- we assume that four digit numbers starting with 1 are dates    
    
    s = re.sub('<ref[^>]+>[^<]+</ref>',' ',s)

    s = re.sub('<bibl[^>]*>[^<]+</bibl>',' ',s)
    s = re.sub('<date[^>]*>[^<]+</date>',' ',s)
    s = re.sub('<measure[^>]+>[^<]+</measure>',' ',s)
    s = re.sub('<figure[^>]+>',' ',s)
    s = re.sub('<pb[^>]+>',' ',s)


    matchs = '[\s](1[0-9][0-9][0-9]\\b)'    
    while(re.search(matchs,s)):
            m = re.search(matchs,s)
            curdate = m[1]
            if(re.search('1084',curdate)):
                print(s)
            if(curdate in moddates):
                moddates[curdate] = moddates[curdate] + 1 
            else:
                moddates[curdate] = 1
            s = re.sub(matchs,' ',s,1)

def numbernouns(s):
    units = '([A-Z][a-z]+\s+talents|geog\.\s+[Mm]iles|smaller\s+vessels|[A-Z][a-z]+\s+citizens|[A-Z][a-z]+\s+mercenaries|M\.\s*P\.|[A-Z][a-z]+\s+[Aa]cres|[A-Z][a-z]+\s+[mM]iles|[A-Z][a-z]+\s+[Ff]eet|[A-Z][a-z]+\s+yards|sq\.\s+miles|square\s+miles|armed\s+[a-zA-Z]+|heav[ily]-armed\s+[A-Za-z]+|[A-Za-z\-]+)'
    matchs = '([2-9][0-9][0-9][0-9]|[0-9]+,[0-9][0-9,]+[0-9])\s+' + units
    
    s = re.sub('<date[^>]+>[^<]+</date>',' ',s)
    s = re.sub('<bibl[^>]+>[^<]+</bibl>',' ',s)
    s = re.sub('<measure[^>]+>[^<]+</measure>',' ',s)
    while(re.search(matchs,s)):
        m = re.search(matchs,s)
        curnumber = m[1]
        curnoun = m[2]
        if(curnoun in countables):
            countables[curnoun] = countables[curnoun] + 1
        else:
            countables[curnoun] = 1
        
        print(curnumber,curnoun)
    
        s = re.sub(matchs,'',s,1)
    
    
def entrysummary(curdict,curentryid,s):
    
    m = re.search('entry"\s+xml:id="([^"]+)"',s)
    if(m):
        curentryid = m[1]
        curdict[curentryid] = 0
        return(curentryid)
    
    if(curentryid):
        curdict[curentryid] = curdict[curentryid] + len(re.sub('<[^>]+>','',s).split())
    return(curentryid)
    
    
def assignauth(curentryid,authtab,s):
    m = re.search('target="author\.([^"]+)"',s)
    if(m):
        if(not m[1] in authtab):
            authtab[m[1]] = []
        authtab[m[1]].append(curentryid)
    
def getsmithstats(fname):
    datedict = {}
    moddatedict = {}
    entrydict = {}
    authors = {}
    f = open(fname)
    curentryid = ''
    for l in f:
        datesummary(datedict,moddatedict,l)
        curentryid = entrysummary(entrydict,curentryid,l)
        assignauth(curentryid,authors,l)
        #numbernouns(l)
    
    f.close()
    return(datedict,moddatedict,entrydict,authors)

geodates,geomoddates,geoentries,geoauthors = getsmithstats('002/smithgeo-work.xml')
avggeo = sum(geoentries.values())/len(geoentries)


biodates,biomoddates,bioentries,bioauthors = getsmithstats('003/smithbio-work.xml')
avgbio = sum(bioentries.values())/len(bioentries)

avggeodates = sum(geodates.values())/len(geoentries)
avgbiodates = sum(biodates.values())/len(bioentries)

summstats = []
summstats.append(['Geo',len(geoentries),sum(geoentries.values()),avggeo,len(geodates),sum(geodates.values()),avggeodates])
summstats.append(['Bio',len(bioentries),sum(bioentries.values()),avgbio,len(biodates),sum(biodates.values()),avgbiodates])
df_summary = pd.DataFrame(summstats,columns = ['work','entries','total words','avg words','Unique Dates','Total Dates','Dates per entry'])
i = 0

bioentlist = sorted(bioentries,key=bioentries.get,reverse=True)
geoentlist = sorted(geoentries,key=geoentries.get,reverse=True)


geodatelist = sorted(geodates,key=geodates.get,reverse=True)
biodatelist = sorted(biodates,key=biodates.get,reverse=True)

data = []
datedata = []
for i in range(0,100):
    #print(bioentlist[i],bioentries[bioentlist[i]],geoentlist[i],geoentries[geoentlist[i]],sep='\t')
    data.append([bioentlist[i],bioentries[bioentlist[i]],geoentlist[i],geoentries[geoentlist[i]]])
    datedata.append([biodatelist[i],biodates[biodatelist[i]],geodatelist[i],geodates[geodatelist[i]]])
#df_entries = pd.DataFrame(data, columns = ['BioEntry','Entrysize' 'GeoEntry','Entrysize'])

    
df_entries = pd.DataFrame(data, columns = ['BioEntry','Entrysize' ,'GeoEntry','Entrysize'])
df_dates = pd.DataFrame(datedata, columns = ['BioDates','DateCnt' ,'GeoDates','DateCnt'])

print('Stats for the Smith Biographical and Geographical Dictionaries')

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 2,
                       ):
    display(df_summary)
    
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 2,
                       ):
    display(df_entries[0:30])
    
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 2,
                       ):
    display(df_dates[0:100])

<s n="r01"/>They were repulsed by the vigilance and energy of pope Leo IV., who repaired the ancient walls, restored fifteen towers which had been overthrown, and enclosed the quarter of the Vatican; on which in  </date> he bestowed his blessing and the title of <placeName type="modern" rend="ital">Citt√† Leonina</placeName>, or Leonine city (now the <title>Borgo di S. Pietro</title>). (Anastasius, <title>V. Leon. IV.</title>) In the period between  and 1084 Rome was thrice fruitlessly besieged by the emperor Henry IV., who, however, by means of corruption at last succeeded in gaining possession of it; but the ruins of the Septizonium, defended by the nephew of Pope Gregory VII., resisted all the attacks of Henry's forces.

Stats for the Smith Biographical and Geographical Dictionaries

,work,entries,total words,avg words,Unique Dates,Total Dates,Dates per entry
0,Geo,11594,2770489,238.96,1444,5890,0.51
1,Bio,19902,4078475,204.93,2275,22187,1.11

,BioEntry,Entrysize,GeoEntry,Entrysize
0,cicero-bio-7,42106,roma-geo,144831
1,aristoteles-bio-2,29441,athenae-geo03,53159
2,caesar-bio-19,18976,gallia-transalpina-geo,28541
3,justinianus-i-flavius-anicius-bio-1,16357,italia-geo,26234
4,plato-bio-2,14753,carthago-geo,26005
5,homerus-bio-1,14476,palaestina-geo,20020
6,pheidias-bio-1,13729,etruria-geo,18349
7,pompeius-bio-22,13255,thracia-geo,17033
8,ptolemaeus-claudius-bio-1,12851,hispania-geo,16619
9,eucleides-bio-1,12172,phoenicia-geo,16578
10,galenus-claudius-bio-1,11161,gallia-cisalpina-geo,15862
11,lucianus-bio-9,11118,syracusae-geo,15483
12,demosthenes-bio-2,10888,jerusalem-geo,15295
13,sulla-bio-6,10491,sicilia-geo,15242
14,pythagoras-bio-1a,10464,latium-geo,14696
15,origenes-bio-1,10221,attica-geo,14112
16,heracles-bio-1,9795,aegyptus-geo,13835
17,pericles-bio-1,9615,britannicae-insulae-geo,13641
18,hannibal-bio-11,9600,corinthus-geo,13024
19,photius-bio-3,9452,syria-geo,12192
20,sophocles-bio-1,9348,scythia-geo,10616
21,cato-porcius-bio-2,9166,thebae-geo,10060
22,c-plinius-secundus-bio-1,9105,india-geo,10048
23,mithridates-vi-bio-1,8884,thebae-geo02,9595
24,lycurgus-bio-7,8688,europa-geo,9410
25,marius-bio-1,8643,arabia-geo,9151
26,gaius-bio-2,8493,graecia-geo,9104
27,hieronymus-bio-8,8113,delphi-geo,8977
28,augustus-bio-1,7795,samnium-geo,8749
29,livius-bio-1,7479,constantinopolis-geo,8566

    BioDates  DateCnt GeoDates  DateCnt
0        -43      173     -218       44
1        -44      153     -340       44
2        -49      153      -52       43
3        -45      125     -480       40
4        -54      124     -191       39
5        -46      121     -200       37
6        -63      118      -58       33
7    001-100      115     -396       32
8        -48      112      -49       32
9         69      108     -338       31
10       -59       94      -90       31
11   101-200       90      -43       31
12      -168       88       69       30
13       -52       86     -211       29
14       -51       86     -209       28
15       -50       83      -57       28
16       -56       77     -216       27
17      -216       76     -371       27
18       -57       74     -197       27
19      -480       74     -424       25
20  -100-001       69     -426       24
21       -58       68     -214       23
22        70       66     -280       23
23      -171       65      -89       23
24      -190       65     -493       23
25       -47       64     -219       23
26      -217       64     -190       23
27       -55       62     -217       22
28       -88       62     -326       22
29      -323       62     -390       22
30      -210       61     -207       22
31       -40       61      -56       22
32       -90       60      -36       21
33      -218       60      -51       21
34      -411       60     -394       21
35      -167       60     -415       20
36       -66       59     -212       20
37      -400       59     -205       19
38      -169       57     -411       18
39       -81       57     -220       18
40      -212       56      -54       18
41       -82       55     -510       18
42       -61       55       79       18
43      -331       54     -332       17
44      -200       54     -494       17
45       -36       53      -41       17
46      -209       53      -31       16
47       -74       53     -167       16
48  -300-201       52     -431       16
49      -220       52     -295       16
50      -321       52     -264       16
51        68       51     -189       16
52      -100       50     -169       16
53      -189       50     -421       16
54       -65       50     -358       16
55       431       49     -225       16
56        14       49     -389       16
57       -42       49     -215       16
58      -405       48     -357       16
59      -330       48     -168       15
60       -70       48     -425       15
61       -87       47     -198       15
62      -412       47     -405       15
63      -424       47     -304       15
64      -215       47      -82       15
65        66       47     -301       15
66       -67       47     -393       15
67      -401       46     -312       15
68      -146       46     -194       15
69      -204       46     -210       14
70      -352       46     -192       14
71      -170       44     -400       14
72      -207       44     -282       14
73      -181       44     -204       14
74   301-400       44     -406       14
75      -196       44     -314       14
76       -83       44     -309       14
77      -214       43     -395       14
78      -406       43     -308       14
79       -60       43     -343       14
80      -404       43     -410       14
81      -211       43     -311       14
82      -201       43     -397       14
83       -53       42     -146       13
84  -500-401       42     -279       13
85      -192       42     -409       13
86      -317       41     -383       13
87      -197       41     -306       13
88  -100-101       41      -55       13
89      -208       41     -307       13
90      -280       40      -88       13
91      -300       40     -181       13
92       -69       40     -387       13
93      -149       40      -53       12
94      -203       40     -241       12
95      -479       39     -479       12
96      -431       39      -27       12
97      -333       39     -476       12
98       -31       39     -310       12
99       -64       39     -293       12

In [24]:
newdict = (sorted(geomoddates.keys(),reverse=True))
for i in range(0,len(newdict)):
    print(newdict[i],geomoddates[newdict[i]])

1856 3
1855 26
1854 9
1853 11
1852 26
1851 17
1850 33
1849 21
1848 20
1847 21
1846 21
1845 15
1844 20
1843 38
1842 38
1841 33
1840 29
1839 21
1838 30
1837 27
1836 22
1835 34
1834 31
1833 15
1832 18
1831 15
1830 18
1829 28
1828 14
1827 14
1826 10
1825 14
1824 14
1823 8
1822 13
1821 21
1820 25
1819 15
1818 20
1817 14
1816 11
1815 7
1814 5
1813 9
1812 9
1811 6
1810 4
1809 8
1808 4
1807 5
1806 2
1805 7
1804 1
1803 1
1802 5
1801 9
1800 6
1799 3
1798 5
1797 5
1796 3
1795 1
1794 3
1793 2
1792 2
1790 5
1789 5
1787 1
1786 2
1785 4
1784 4
1783 5
1782 4
1781 1
1780 5
1779 3
1778 1
1777 3
1776 2
1774 4
1773 5
1771 3
1770 3
1769 3
1767 2
1766 1
1765 1
1764 3
1763 2
1762 3
1760 2
1759 3
1757 2
1756 3
1755 2
1754 2
1753 2
1751 5
1750 2
1749 2
1748 3
1745 7
1744 3
1743 3
1742 3
1741 3
1740 1
1739 4
1738 5
1737 2
1736 2
1735 1
1733 1
1729 1
1728 1
1727 1
1726 1
1723 4
1721 1
1720 1
1719 1
1718 2
1717 4
1716 3
1715 3
1712 2
1711 4
1710 1
1707 3
1705 3
1704 1
1703 3
1700 4
1699 2
1698 2
1696 1
1694 2
1693 3
1691 1
1690 3
1689 1
1688 2
1687 6
1686 1
1685 2
1682 4
1681 3
1680 1
1678 5
1676 9
1675 7
1674 2
1673 3
1672 1
1671 2
1670 1
1669 2
1668 2
1667 1
1666 1
1665 1
1662 1
1657 1
1656 1
1650 4
1645 1
1638 2
1636 1
1629 1
1625 2
1624 2
1622 1
1621 2
1620 2
1619 1
1616 2
1612 1
1611 1
1610 1
1606 1
1600 4
1599 1
1597 1
1595 1
1588 2
1587 1
1585 2
1583 1
1582 1
1580 2
1575 1
1574 2
1573 4
1572 1
1571 2
1570 1
1566 2
1564 1
1562 1
1561 1
1559 2
1558 4
1553 1
1551 3
1550 4
1548 3
1547 1
1545 2
1544 2
1542 1
1540 1
1539 1
1538 3
1536 2
1534 1
1533 1
1531 1
1529 1
1527 1
1522 1
1520 2
1515 1
1514 2
1513 3
1507 1
1506 1
1503 1
1500 8
1497 2
1493 1
1486 1
1483 1
1482 2
1480 3
1475 2
1474 1
1470 1
1469 2
1466 1
1463 1
1462 2
1460 1
1459 1
1457 2
1456 1
1454 1
1453 3
1452 1
1451 2
1450 1
1446 1
1444 3
1438 1
1436 1
1430 4
1422 1
1418 1
1415 1
1413 2
1412 1
1408 2
1405 1
1404 2
1401 1
1397 1
1393 1
1392 1
1389 1
1388 1
1384 1
1376 1
1363 1
1361 1
1356 1
1355 1
1353 1
1352 1
1351 1
1346 2
1341 1
1339 1
1334 1
1325 1
1323 2
1322 2
1321 1
1315 1
1314 1
1306 2
1305 3
1300 4
1298 1
1289 1
1282 1
1278 1
1275 2
1274 3
1271 2
1261 1
1253 1
1250 3
1248 1
1240 1
1238 1
1236 2
1235 1
1229 1
1227 1
1225 2
1223 1
1222 1
1219 2
1211 1
1209 4
1208 1
1207 1
1206 1
1205 2
1204 6
1203 1
1200 7
1198 2
1193 2
1191 1
1185 2
1184 3
1181 1
1172 1
1170 2
1168 1
1167 3
1164 2
1163 1
1162 1
1159 1
1158 1
1152 3
1150 1
1148 3
1147 1
1146 1
1143 4
1142 1
1141 1
1140 1
1135 1
1134 1
1129 2
1126 2
1125 1
1124 1
1120 2
1116 1
1115 1
1111 1
1105 1
1104 2
1103 1
1101 1
1100 1
1098 1
1097 2
1096 1
1095 1
1094 1
1092 1
1091 1
1088 1
1087 2
1086 2
1085 1
1084 1
1083 1
1081 1
1078 1
1077 1
1073 1
1071 1
1069 1
1068 3
1066 1
1064 2
1063 1
1061 2
1050 1
1047 1
1043 3
1038 1
1034 1
1031 1
1024 1
1022 1
1021 2
1020 1
1017 1
1011 2
1010 1
1009 3
1008 1
1006 1
1005 1
1004 1
1000 8

In [99]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    display(df_entries[1:30])

,BioEntry,Entrysize,GeoEntry,Entrysize
1,aristoteles-bio-2,29438,athenae-geo03,53157
2,caesar-bio-19,18976,gallia-transalpina-geo,28541
3,justinianus-i-flavius-anicius-bio-1,16357,italia-geo,26234
4,plato-bio-2,14744,carthago-geo,26003
5,homerus-bio-1,14476,palaestina-geo,20020
6,pheidias-bio-1,13727,etruria-geo,18347
7,pompeius-bio-22,13255,thracia-geo,17033
8,ptolemaeus-claudius-bio-1,12849,hispania-geo,16619
9,eucleides-bio-1,12172,phoenicia-geo,16577
10,galenus-claudius-bio-1,11159,gallia-cisalpina-geo,15860
11,lucianus-bio-9,11118,syracusae-geo,15483
12,demosthenes-bio-2,10888,jerusalem-geo,15295
13,sulla-bio-6,10491,sicilia-geo,15242
14,pythagoras-bio-1a,10462,latium-geo,14696
15,origenes-bio-1,10216,attica-geo,14112
16,heracles-bio-1,9793,aegyptus-geo,13835
17,pericles-bio-1,9609,britannicae-insulae-geo,13641
18,hannibal-bio-11,9600,corinthus-geo,13024
19,photius-bio-3,9445,syria-geo,12192
20,sophocles-bio-1,9348,scythia-geo,10616
21,cato-porcius-bio-2,9166,thebae-geo,10060
22,c-plinius-secundus-bio-1,9105,india-geo,10048
23,mithridates-vi-bio-1,8884,thebae-geo02,9595
24,lycurgus-bio-7,8686,europa-geo,9410
25,marius-bio-1,8643,arabia-geo,9149
26,gaius-bio-2,8493,graecia-geo,9104
27,hieronymus-bio-8,8113,delphi-geo,8977
28,augustus-bio-1,7795,samnium-geo,8749
29,livius-bio-1,7479,constantinopolis-geo,8565

In [47]:
df_entries = pd.DataFrame(data, columns = ['BioEntry','Entrysize' ,'GeoEntry','Entrysize'])

In [47]:
df_entries = pd.DataFrame(data, columns = ['BioEntry','Entrysize' ,'GeoEntry','Entrysize'])

In [48]:
df_entries

,BioEntry,Entrysize,GeoEntry,Entrysize
0,cicero-bio-7,42104,roma-geo,144816
1,aristoteles-bio-2,29438,athenae-geo03,53157
2,caesar-bio-19,18976,gallia-transalpina-geo,28541
3,justinianus-i-flavius-anicius-bio-1,16357,italia-geo,26234
4,plato-bio-2,14744,carthago-geo,26003
5,homerus-bio-1,14476,palaestina-geo,20020
6,pheidias-bio-1,13727,etruria-geo,18347
7,pompeius-bio-22,13255,thracia-geo,17033
8,ptolemaeus-claudius-bio-1,12849,hispania-geo,16619
9,eucleides-bio-1,12172,phoenicia-geo,16577

In [54]:
arts = 0
for foo in geoauthors:
    arts = arts + len(geoauthors[foo])
    print(foo,len(geoauthors[foo]))
print(arts)

E.H.B 1013
W.B.D 207
P.S 497
H.W 4
W.R 8
L.S 1059
G.L 1151
G.W 328
R.G.L 194
E.B.J 709
J.S.H 12
V 559
G.F.B 1
C.R.S 19
T.H.D 802
G.B 1
J.R 54
6618

In [151]:
for foo in sorted(countables,key=countables.get,reverse=True):
    print(foo,countables[foo])

men 303
feet 239
stadia 158
foot 87
inhabitants 86
of 81
horse 67
persons 34
sesterces 33
to 27
years 27
souls 26
talents 25
were 24
in 21
or 20
pieces 19
asses 17
cavalry 16
and 16
citizens 15
prisoners 13
infantry 13
Romans 13
English feet 12
colonists 12
paces 12
drachmae 11
hoplites 10
spectators 10
pounds 10
square miles 9
mercenaries 9
soldiers 9
Greeks 9
slaves 8
for 8
volumes 8
medimni 8
veterans 8
yards 7
verses 7
miles 6
Paris feet 6
lines 6
M. P. 5
troops 5
taken 5
fighting 5
denarii 5
Greek mercenaries 5
armed men 4
horsemen 4
more 4
sq. miles 4
Roman 4
at 4
Macedonians 4
escaped 4
hexameter 4
B 3
new 3
mares 3
M.P. 3
Athenian citizens 3
ft 3
as 3
square 3
from 3
families 3
war-chariots 3
horses 3
settlers 3
m 3
Locrians 3
Jews 3
lots 3
light-armed 3
Crotoniats 3
Samnites 3
drachmas 3
are 3
Macedonian 3
enemies 3
Goths 3
Gauls 2
houses 2
geog. miles 2
free 2
bushels 2
Roman citizens 2
heavy-armed infantry 2
Athenian 2
Galli 2
slain 2
had 2
being 2
auxiliaries 2
on 2
passus 2
Spartans 2
freemen 2
who 2
statues 2
Africans 2
Greek 2
Thebans 2
equal 2
Euboic talents 2
barbarians 2
foot-soldiers 2
days 2
Carthaginians 2
picked 2
works 2
regular 2
heavy-armed soldiers 2
Athenians 2
darics 2
Celtiberians 2
Cimbri 1
will 1
must 1
inhabited 1
towns 1
Julian 1
Vandals 1
yds 1
by 1
Nabathaean 1
young 1
Carthaginian 1
fully 1
piastres 1
metoeci 1
fathoms 1
Burgundians 1
fighters 1
Libyphoenician 1
ships 1
stand 1
acres 1
minae 1
geographical 1
palms 1
workmen 1
fell 1
sestertii 1
stadia--the 1
perished 1
threw 1
Germans 1
Rauraci 1
Christians 1
leagues 1
metres 1
Lacedaemonians 1
was 1
heavy-armed 1
English acres 1
Turks 1
stationary 1
Abyssinians 1
Moors 1
Russians 1
Arabs 1
brood 1
camel-loads 1
turbulent 1
Ligurians 1
elephants 1
tiles 1
x 1
aliens 1
military 1
English yards 1
human 1
seats 1
land-troops 1
made 1
under 1
English 1
Sicambri 1
quintals 1
wild 1
German feet 1
chariots 1
Jewish 1
Aetolians 1
suits 1
Bastarnae 1
amphorae 1
Roman feet 1
plethra 1
French feet 1
tombs 1
brother-rivers 1
Illyrians 1
Tyrians 1
into 1
craters 1
iambics 1
assembled 1
crossed 1
Parthians 1
Celtiberi 1
Britons 1
volunteers 1
camp-followers 1
fighting-men 1
footsoldiers 1
respectively 1
heavy 1
errors 1
deserted 1
other 1
warriors 1
minas 1
Achaeans 1
fugitives 1
tables 1
Asiatics 1
sestertia 1
men-at-arms 1
Vaccaeans 1
Thracians 1
targeteers 1
poor 1
cleruchi 1
valuable 1
Roman miles 1
Alex 1
ad 1
armed slaves 1
heavy-armed of 1
talets 1
needy 1
Celtiberian mercenaries 1
Numidiai 1
heavy-armed troops 1
veteran 1
Khazarian 1
modii 1
casks 1
mercenary 1
quarters 1
mariners 1
Persians 1
l 1
extracts 1
different 1
Maronites 1
German 1
Saxons 1
foreign 1
according 1
strong 1
drachms 1
slingers 1
heavy-armed men 1
ducats 1
brethren 1
Christian 1
either 1
ounces 1
Frenchmen 1
Herules 1
Alemanni 1
medical 1
Argives 1
rivers 1
monks 1
excerpts 1
Gaulish mercenaries 1
Persia 1
decimal 1
drachllas 1
matters 1
only 1
Attic talents 1
sailors 1
horse-soldiers 1
that 1
times 1
recruits 1
archers 1
Cretans 1
boats 1
peltasts 1
select 1
should 1
political 1
smaller vessels 1
smaller 1

In [199]:
l = ' n="1066"'

matchs = '[\\s](1[0-9][0-9][0-9]\\b)'

m = re.search(matchs,l)
if(m):
    print('hit')

In [77]:
avg

'204.9'

In [14]:
l = 'bout 1953 l. 2 s.  6d.'

matchs = '([0-9]+,[0-9][0-9,]+[0-9]|[0-9]+)\s*l\.\s*([0-9]+)\s*s\.\s+([0-9]+)\s*d\.'
while(re.search(matchs,l)):
        m = re.search(matchs,l)
        pounds = re.sub(',','',m[1])
        l = re.sub(matchs,'<measure quantity="'+pounds+'.\g<2>.\g<3>">\g<1>l.</z> \g<2>s. \g<3>d.</measure>',l)

In [33]:
import re

j = 0



f = open('002/smithgeo-work.xml')
#f = open('003/smithbio-work.xml')

lastdate = ''
lastbib = ''
i = 0
j = 0

notyears = ['Argonautica','Dicaearchus','Editions','Epigram','Eutrop','Gennadius','Hephaestion','Liberalis','Lycophron','Petronius','Theogony','appended','chapter','epigrams','wrote']
notyears.append('Apollo')
notyears.append('Aphrodite')
notyears.append('Aristophanes')
notyears.append('Artemis')
notyears.append('Avienus')
notyears.append('Chius')
notyears.append('Demeter')
notyears.append('Festus')
notyears.append('Jornandes')
notyears.append('Obsequens')
notyears.append('Orelli')
notyears.append('Orpheus')
notyears.append('Periegetes')
notyears.append('Phrygius')
notyears.append('Scymnus')
notyears.append('Thesmophoriazusae')

for l in f:
    
    m = re.search('<bibl n="([A-Z][a-z]+)',l)
    if(m):
        if(not m[1] in lastbib):
            lastbib.append( m[1])
        
    m = re.search('<date when-custom="([^"]+)"',l)
    if(m):
            lastdate = m[1]
            

    
    matchs = '\\b([Ii]n\s+)([0-9]+\.[0-9]+\.[0-9]+|[0-9]+\.[0-9]+)'

    l = re.sub(matchs,'\g<1><ref>\g<2></ref>',l)
    

    
    m = re.search('entry" xml:id="([^"]+)',l)
    if(m):
        curentryid = m[1]
        lastdate = 'nolast'
        lastbib = []
    
    matchs = '\\b([a-zA-Z]+)\s+([a-zA-Z]+)\s+\(([0-9]+)\)'
    while(re.search(matchs,l)):
        m = re.search(matchs,l)
    
        if(m and int(m[3]) > 9 and int(m[3]) < 1000 and not m[2] in notyears):
            j = j + 1
            if(re.search('^-',lastdate) or 'Liv' in lastbib or 'Cic' in lastbib or 'Thuc' in lastbib or 'Dionys' in lastbib):
                newdate = '-' + m[3]
            else:
                newdate = m[3]
            print(j,'paren',curentryid,lastdate,'Cic' in lastbib,lastbib,m[1],m[2],m[3],newdate)
            l = re.sub(matchs,'\g<1> \g<2> (<date when-custom="'+newdate+'">\g<3></date>)',l,1)
        else:
            l = re.sub(matchs,'\g<1> \g<2> (<ref>\g<3></ref>)',l,1)
    
    matchs = '\\b([Ii]n)\s([0-9]+)'
    while(re.search(matchs,l)):
        m = re.search(matchs,l)            
        newdate = m[2]
        if(re.search('^-',lastdate) or  'Plb' in lastbib or 'Liv' in lastbib or 'Cic' in lastbib):
            if(int(m[2])< 900):
                newdate = '-' + m[2]
            else:
                newdate = m[2]
        else:
            newdate = m[2]
        if(len(newdate) == 1):
            shows = l
        else:
            shows = ''
        i = i + 1
        if(lastdate == 'nolast' and not lastbib == 'nobib' and int(newdate)  < 1000):
            print(i,curentryid,'newdate',lastdate,lastbib,newdate,shows)
        l =re.sub(matchs,'\g<1> <date when-custom="'+newdate+'">\g<2></date>',l,1)

print('done')
f.close()

1 paren aegina-geo -480 True ['Paus', 'Ov', 'Hdt', 'Ath', 'Thuc', 'Cic'] of Aegospotami 404 -404
2 paren agraei-geo -426 False ['Thuc'] years afterwards 424 -424
3 paren alani-geo nolast False ['Luc', 'Plin'] he says 308 308
4 paren alani-geo 379 False ['Luc', 'Plin', 'Ptol'] conquered Spain 418 418
5 paren alani-geo 379 False ['Luc', 'Plin', 'Ptol'] their defection 451 451
6 paren ambracia-geo -432 False ['Hdt', 'Plb', 'Scymnus'] years afterwards 430 -430
7 paren ambracia-geo -432 False ['Hdt', 'Plb', 'Scymnus'] following year 429 -429
8 paren amphipolis-geo -360 False ['Thuc', 'Hdt'] his accession 359 -359
9 paren amphipolis-geo -360 False ['Thuc', 'Hdt'] following year 358 -358
10 paren arcadia-geo02 -365 False ['Paus', 'Plin', 'Apollon', 'Hdt', 'Ath', 'Hom', 'Diod', 'Thuc', 'Xen', 'Plut'] Olympic games 364 -364
11 paren argos-amphilochicum-geo -432 False ['Thuc'] years afterwards 430 -430
12 paren atella-geo -211 False ['Stephanus', 'Liv'] next year 210 -210
13 paren jerusalem-geo -972 False ['Vitr', 'Paus', 'Tac'] of Jehoram 884 -884
14 paren jerusalem-geo -609 False ['Vitr', 'Paus', 'Tac'] the city 598 -598
15 paren megara-geo02 -455 False ['Paus', 'Ov', 'Strabo', 'Aristot', 'Hdt', 'Thuc'] same year 445 -445
16 paren oeniadae-geo-1 -455 False ['Stephanus', 'Paus'] Messenian War 455 -455
17 paren oeniadae-geo-1 -454 False ['Stephanus', 'Paus', 'Thuc'] the war 429 -429
18 paren oeniadae-geo-1 -454 False ['Stephanus', 'Paus', 'Thuc'] following year 428 -428
done

In [10]:
'epigrams' in notyears

True